.venv/
.idea/
__pycache__/
*.pyc
.env
node_modules/
.next/
dist/
build/
*.egg-info/
.pytest_cache/
.DS_Store

# terraform
terraform.tfvars
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Written by the release workflow with this environment's API address.
ui/config.json
